#**
 *  Render a complex document in the results list
 *#

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap

## Title
#if($doc.getFieldValue('title'))
  #set($title = $esc.html($doc.getFirstValue('title')))
#else
  #set($title = "["+$doc.getFieldValue('id')+"]")
#end

## URL
#if($doc.getFieldValue('url'))
  #set($url = $doc.getFieldValue('url'))
#elseif($doc.getFieldValue('resourcename'))
  #set($url = "file:///$doc.getFieldValue('resourcename')")
#else
  #set($url = "$doc.getFieldValue('id')")
#end

## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))

## TODO: falling back to file extension is convenient,
## except when you don't have an icon for that extension
## example "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
## document with a .docx extension.
## It'd be nice to fall back to an "unknown" or the existing "file" type
## We sort of do this below, but only if the filename has no extension
## (anything after the last dot).

#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end

## #if(!$filetype)
##   #set($filetype = "file")
## #end
## #if(!$supportedMimeTypes.contains($filetype))
##   #set($filetype = "file")
## #end
<div class="result-mlt">
  ## Link for MLT / More Like This / Find Similar
  <span class="mlt">
    #if($params.getBool('mlt', false) == false)
      <a href="#lensNoQ&q=id:%22$docId%22&mlt=true">
        More Like This</a>
    #end
  </span>

</div>## Row 1: Icon and Title and mlt link
<div class="result-title">
#if($doc.getFieldValue('sketch'))
	<img src=$doc.getFieldValue('sketch') align="left" height="70" width="70">
#else
	<img src="https://image.freepik.com/free-vector/science-icon-collection_23-2147504869.jpg" align="left" height="70" width="70">
#end
  ## Title, hyperlinked
  <a href="${url}" target="_blank">
    <b>$title</b></a>
</div>
## Date
#if($doc.getFieldValue('created'))
	<div class="date">
		<b>Created</b>: #field('created') 
		#if($doc.getFieldValue('author')) 
			<b>by</b>: #field('author')
		#end
  </div>
#end

## Main content of doc
## Description
#if($doc.getFieldValue('description'))
	<div class="result-body">
		#field('description')
	</div>
#end

## Creator
#if($doc.getFieldValue('creator'))
  <div>
    <b>Creator</b>: #field('creator')
  </div>
#end

## Domains
#if($doc.getFieldValue('domains'))
  <div>
    <b>Domains</b>:
	#foreach($field as $doc.getFieldValue('domains'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=domains:%22$field%22">$field</a>
	#end
  </div>
#end

## Concepts
#if($doc.getFieldValue('concepts'))
  <div>
    <b>Concepts</b>:
	#foreach($field as $doc.getFieldValue('concepts'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=concepts:%22$field%22">$field</a>
	#end
  </div>
#end

## Expressions
#if($doc.getFieldValue('compound_terms'))
  <div>
    <b>Expressions</b>:
	#foreach($field as $doc.getFieldValue('compound_terms'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=compound_terms:%22$field%22">$field</a>
	#end
  </div>
#end

## People
#if($doc.getFieldValue('people'))
  <div>
    <b>People</b>:
	#foreach($field as $doc.getFieldValue('people'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=people:%22$field%22">$field</a>
	#end
  </div>
#end

## Places
#if($doc.getFieldValue('place'))
  <div>
    <b>Places</b>:
	#foreach($field as $doc.getFieldValue('place'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=place:%22$field%22">$field</a>
	#end
  </div>
#end

## Organizations
#if($doc.getFieldValue('organization'))
  <div>
    <b>Organizations</b>:
	#foreach($field as $doc.getFieldValue('organization'))
		<a href="/solr/EverEst/browse?&amp;q=&amp;fq=organization:%22$field%22">$field</a>
	#end
  </div>
#end

## Display Similar Documents / MLT = More Like This
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
  #if ($mltOn && $mlt && $mlt.size() > 0)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <a href="#url_for_home?q=id:$mltId">
              $mltId</a>
          </div>
          <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('title'))
				<b>Title:</b> $mltHit.getFieldValue('title')
			#end
            </span>
          </div>
          <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('description'))
				<b>Description:</b> $mltHit.getFieldValue('description')
			#end
            </span>
          </div>
		  <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('domains'))
				<b>Domains:</b> $mltHit.getFieldValue('domains')
			#end
            </span>
          </div>
		  <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('concepts'))
				<b>Concepts:</b> $mltHit.getFieldValue('concepts')
			#end
            </span>
          </div>
		  <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('compound_terms'))
				<b>Expressions:</b> $mltHit.getFieldValue('compound_terms')
			#end
            </span>
		  <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('people'))
				<b>People:</b> $mltHit.getFieldValue('people')
			#end
            </span>
          </div>
		 <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('place'))
				<b>Places:</b> $mltHit.getFieldValue('place')
			#end
            </span>
          </div>
		  <div>
            <span class="field-name">
            #if ($mltHit.getFieldValue('organization'))
				<b>Organizations:</b> $mltHit.getFieldValue('organization')
			#end
            </span>
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt

#parse('debug.vm')
